@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), local("MontserratRegular"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-SemiBold"), local("MontserratSemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
body {
  position: relative;
  background-color: #f3f4f6;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece {
  background: rgb(240, 241, 243);
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.just-validate-error-label {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 18px;
}

.swiper-slide {
  position: relative;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 80px;
  height: 80px;
  background-image: url("../images/loading.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: rotation 2.8s infinite linear;
  z-index: -1;
}

.map__title {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

body.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: 1785px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.curtain {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

.container {
  max-width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
}

.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}
.burger-btn__rect {
  width: 100%;
  height: 3px;
  background-color: #000;
}
.burger-btn__rect-1 {
  transform-origin: left top;
  transition: transform 0.2s linear, background-color 0.2s linear;
}
.burger-btn__rect-3 {
  transform-origin: left bottom;
  transition: transform 0.2s linear, background-color 0.2s linear;
}
.burger-btn__rect-2 {
  transform-origin: center;
  transition: transform 0.2s linear, background-color 0.2s linear;
}
.burger-btn.transformed .burger-btn__rect-1 {
  transform: translate(7px, -1px) rotate(45deg);
  background-color: #f5f5f5;
}
.burger-btn.transformed .burger-btn__rect-3 {
  transform: translate(7px, 1px) rotate(-45deg);
  background-color: #f5f5f5;
}
.burger-btn.transformed .burger-btn__rect-2 {
  transform: scaleX(0);
  background-color: #f5f5f5;
}

.header {
  padding-top: 20px;
  height: 450px;
  transition: transform 0.25s linear;
}
.header__burger-btn {
  display: none;
}
.header__logo {
  margin-bottom: 60px;
}
.header__nav {
  transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
}

.logo {
  display: inline-block;
  max-width: 215px;
}
.logo__img {
  width: 100%;
}

.title {
  font-family: "Montserrat", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.title__red {
  font-size: 90px;
  color: #f54a5e;
}

.nav {
  position: relative;
  opacity: 0;
}
.nav__list {
  max-width: 400px;
  list-style-type: none;
}
.nav__item:not(last-child) {
  margin-bottom: 20px;
}
.nav__item:nth-child(2) {
  transform: translateX(30px);
}
.nav__item:nth-child(3) {
  transform: translateX(60px);
}
.nav__item:nth-child(4) {
  transform: translateX(90px);
}
.nav__item:nth-child(5) {
  transform: translateX(120px);
}
.nav__item:nth-child(6) {
  transform: translateX(150px);
}
.nav__item:nth-child(7) {
  transform: translateX(180px);
}
.nav__link {
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  transition: color 0.05s linear;
}
.nav__link:hover, .nav__link:focus {
  color: #f54a5e;
}

.d-none {
  display: none;
}

.up-btn {
  position: fixed;
  cursor: pointer;
  bottom: 20vh;
  right: 15vw;
  outline: none;
  border: none;
  width: 100px;
  height: 100px;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 20;
  transition: transform 0.1s linear;
  transform: translateY(70px) scale(1);
  padding-top: 32px;
}
.up-btn__img {
  width: 100%;
  height: 100%;
}
.up-btn:hover {
  transform: translateY(60px) scale(1.05);
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hero {
  height: calc(100vh - 450px - 150px);
}
.hero__title {
  margin-top: 150px;
  margin-bottom: 70px;
  max-width: 700px;
}
.hero__text {
  font-family: "Montserrat", Sans-serif;
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
.hero__blockquote {
  max-width: 490px;
  margin-bottom: 50px;
  margin-left: 150px;
}
.hero__btn {
  background-color: #d31857;
}

.cite {
  display: block;
  width: 100%;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #9c9595;
  text-align: end;
}

.btn {
  cursor: pointer;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 50px;
  border-radius: 30px;
  transition: background-color 0.05s linear;
}
.btn:hover, .btn:focus {
  background-color: black;
}
.btn__red {
  background-color: #f54a5e;
  color: white;
}

.about {
  background-color: #FFF;
}
.about__title {
  margin-bottom: 40px;
}
.about__text {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", Sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}
.about__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 890px;
  width: 100%;
}
.about__left {
  background-image: url("../images/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
}
.about__right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.about__img {
  width: 70%;
  transform: translate(80px, 80px);
}

.works {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.works__swiper {
  width: 720px;
  margin-bottom: 40px;
}
.works__content {
  width: 100%;
  max-width: 100%;
  height: 90%;
  padding: 0;
  margin: 0 auto;
}
.works__title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.works__title span {
  font-size: 75px;
  color: #f54a5e;
}
.works__description {
  color: #757575;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
}
.works__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: none;
  height: 900px;
  background: url("../images/works-bg-2.png") no-repeat, url("../images/works-bg-1.png") no-repeat;
  background-size: 23vw auto, 33vw auto;
  background-color: #f0f1f3;
  background-position: left -102px bottom 433px, right 40px bottom;
}
.works__swiper-wrapper {
  height: 95%;
  width: 95%;
  padding: 0;
  margin: 0;
}
.works__slide {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 576px;
}
.works__slide-img {
  width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  object-fit: cover;
}

.details {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.details__title {
  margin-bottom: 60px;
}
.details__container {
  width: 100%;
  height: 82%;
}
.details__container {
  position: relative;
  display: flex;
  align-items: end;
  height: 985px;
  max-width: none;
  padding: 0;
}
.details__back-wrapper {
  width: 100%;
  height: 90%;
  background-color: #fff;
}
.details__front-wrapper {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.details__left {
  width: 50%;
  background-image: url("../images/details.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.details__right {
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding: 180px 0 50px 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  height: auto;
}
.tabs__title {
  font-family: "Montserrat", Sans-serif;
  margin-bottom: 20px;
}
.tabs__text {
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
  font-weight: 400;
}
.tabs__btn {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  min-height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #757575;
}
.tabs__btn:not(:last-child) {
  margin-right: 70px;
}
.tabs__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: transparent;
  left: 0;
  bottom: 0;
}
.tabs__btns-wrapper {
  display: flex;
  width: -moz-min-content;
  width: min-content;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.tabs__active-btn {
  color: black;
}
.tabs__active-btn::after {
  background-color: #f54a5e;
}
.tabs__window {
  position: relative;
}
.tabs__tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 30px 25px 30px 0;
  transition: visibility 0.1s linear, opacity 0.1s linear, transform 0.1s linear;
  transform: translateX(-100px);
}
.tabs__active-tab {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.feedback__container {
  max-width: none;
  padding: 0;
  min-height: 400px;
  background-color: rgb(240, 241, 243);
  background-image: url("../images/feedback.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e6e4e2;
}
.feedback__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  padding: 120px 25px 100px;
  margin: 0 auto;
  height: 100%;
}
.feedback__title {
  margin-bottom: 60px;
}
.feedback__text {
  text-align: center;
}
.feedback__swiper-button-next {
  top: 75px;
  right: calc(50% - 140px);
}
.feedback__swiper-button-prev {
  top: 75px;
  left: calc(50% - 140px);
}
.feedback__slide::after {
  background-image: none;
}

.swiper-pagination-bullet {
  background-color: #f54a5e;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide__img-wrapper {
  border-radius: 50%;
  margin-bottom: 40px;
  overflow: hidden;
}
.slide__text {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  max-width: 775px;
  color: #757575;
  margin-bottom: 20px;
}
.slide__author {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #f54a5e;
  margin-top: auto;
}
.slide__img {
  display: block;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  min-height: 624px;
  background-color: #f3f4f6;
  background-image: url("../images/contacts-bg.webp");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.contacts__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contacts__map {
  position: relative;
  margin-top: auto;
  height: 750px;
  width: 100%;
}
.contacts__title {
  text-align: center;
  margin-bottom: 100px;
}
.contacts__text {
  font-family: "Montserrat", Sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 30px 0;
  background-color: rgba(243, 244, 246, 0.5);
}
.contacts__tel-link {
  font-family: "Montserrat", Sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.07s linear;
  outline: none;
  background-color: rgba(243, 244, 246, 0.5);
}
.contacts__tel-link:hover {
  color: #f54a5e;
}
.contacts__tel-link:focus {
  color: #f54a5e;
}
.contacts__tel-link-img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  transform: translateY(6px);
}
.contacts__tel-link-img path {
  fill: #f54a5e;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__left {
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 70px;
  margin-bottom: 40px;
}
.contacts__right {
  min-width: 400px;
  width: 46%;
}
.contacts__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
  height: 76px;
}
.contacts__form-input {
  box-sizing: border-box;
  width: 100%;
  max-width: 605px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent;
  outline-color: transparent;
  font-family: "Montserrat", Sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 400;
  font-size: 22px;
  padding-left: 18px;
  transition: color 0.05s linear, transform 0.1s linear, outline-color 0.1s linear;
  outline: 1px solid #000;
}
.contacts__form-input::-moz-placeholder {
  font-family: "Montserrat", Sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 400;
  font-size: 22px;
}
.contacts__form-input::placeholder {
  font-family: "Montserrat", Sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 400;
  font-size: 22px;
}
.contacts__form-input:focus {
  background-color: #f5f5f5;
  outline: 2px solid #f54a5e;
}
.contacts__form-input:hover {
  background-color: #f5f5f5;
  outline: 2px solid #f54a5e;
}
.contacts__form-input:active {
  background-color: #f5f5f5;
  transform: scale(0.99);
}
.contacts__social-list {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 30px;
}
.contacts__social-item {
  background-color: rgba(243, 244, 246, 0.5);
}
.contacts__social-item:not(:last-child) {
  margin-right: 15px;
}
.contacts__social-item path {
  fill: #f54a5e;
}
.contacts__social-icon {
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear;
}
.contacts__social-link {
  display: block;
  width: 40px;
  height: 40px;
  outline: none;
}
.contacts__social-link:hover .contacts__social-icon {
  transform: scale(1.1);
}
.contacts__social-link:focus .contacts__social-icon {
  transform: scale(1.1);
}
.contacts__social-link:active .contacts__social-icon {
  transform: scale(0.9);
}

.footer {
  height: 120px;
  background-color: #000;
}
.footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-icon {
  display: block;
  width: 40px;
  height: 40px;
}
.footer__social-icon path {
  fill: rgb(240, 241, 243);
  transition: fill 0.08s linear;
}
.footer__social-link:hover path {
  fill: #f54a5e;
}
.footer__social-link:active path {
  fill: #f54a5e;
}
.footer__social-link:focus path {
  fill: #f54a5e;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  z-index: 100;
}
.modal__window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 620px;
  height: 350px;
  background-color: #f54a5e;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear, opacity 0.1s linear, transform 0.1s linear;
  transform: translateY(-100px);
  background-image: url("../images/modal-bg.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: left 10px bottom -30px;
}
.modal__window.show {
  transform: translateY(0);
}
.modal__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #f5f5f5;
}
.modal__description {
  font-family: "Montserrat", Sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
}
.modal__close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.modal__close-btn::after, .modal__close-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  transform-origin: center;
}
.modal__close-btn::after {
  transform: translateY(-50%) rotate(45deg);
}
.modal__close-btn::before {
  transform: translateY(-50%) rotate(-45deg);
}

.show {
  opacity: 1;
  visibility: visible;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f54a5e;
}

.certificates {
  background-image: url("../images/certificates-bg.webp"), url("../images/certificates-bg-2.webp");
  background-repeat: no-repeat;
  background-size: auto 100%, 20vw auto;
  background-position: right top, left top;
  background-color: #f3f4f6;
}
.certificates__container {
  padding-bottom: 30px;
}
.certificates__title {
  text-align: center;
}
.certificates__swiper {
  width: 100%;
  padding-bottom: 50px;
  padding: 10px 55px;
}
.certificates__slide-img {
  height: 98%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.certificates__slide {
  overflow: hidden;
  height: 700px;
}
.certificates__swiper-wrapper {
  padding: 0 0 20px 0;
}
.certificates__title {
  padding-top: 80px;
  margin-bottom: 40px;
}

.price {
  background-color: #f54a5e;
}
.price__container {
  padding-bottom: 120px;
}
.price__title {
  padding: 50px 0 80px 0;
  text-align: center;
  color: #f5f5f5;
}
.price__list {
  list-style-type: none;
}
.price__item {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}
.price__item:not(:last-child) {
  margin-bottom: 20px;
}
.price__item .price__cost {
  margin-top: auto;
}
.price__dotted-line {
  flex-grow: 1;
  border-bottom: 1px dashed #f5f5f5;
}
.price__name {
  font-family: "Montserrat", Sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 22px;
}
.price__cost {
  font-family: "Montserrat", Sans-serif;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 22px;
}
.price__tooltip {
  position: relative;
  outline: none;
  cursor: pointer;
  transition: color 0.08s linear;
  color: #000;
  font-weight: 700;
}
.price__tooltip:focus .price__tooltip-bubble, .price__tooltip:hover .price__tooltip-bubble {
  opacity: 1;
  visibility: visible;
}
.price__tooltip:focus, .price__tooltip:hover {
  color: #f5f5f5;
}
.price__tooltip-bubble {
  position: absolute;
  width: 500px;
  min-height: 90px;
  bottom: 40px;
  left: -235px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  font-family: "Montserrat", Sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 25px;
  transition: opacity 0.15s linear, visibility 0.15s linear;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}
.price__tooltip-triangle {
  position: absolute;
  bottom: -18px;
  left: calc(50% - 10px);
  border: 8px solid transparent;
  border-top: 11px solid #f5f5f5;
  z-index: -1;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  .details__container {
    padding: 0;
  }
  .details__left {
    background-position: right center;
    background-size: auto 100%;
  }
  .price__container {
    padding: 50px 0 80px 0;
  }
  .contacts {
    min-height: auto;
  }
  .contacts__container {
    padding: 50px 45px 20px 45px;
  }
  .feedback__wrapper {
    padding: 40px 45px 20px;
  }
  .up-btn {
    bottom: 220px;
    right: 10px;
  }
}
@media (max-width: 1024px) {
  .section-wrapper {
    height: auto;
  }
  .about__wrapper {
    height: 650px;
  }
  .details__right {
    padding-right: 25px;
    padding-bottom: 0;
    overflow-y: hidden;
    height: 90%;
    margin-bottom: auto;
  }
  .price__item {
    max-width: 85%;
  }
  .contacts__left {
    margin-right: 20px;
  }
  .contacts__title {
    margin-bottom: 60px;
  }
  .works__swiper {
    width: 90vw;
  }
  .details {
    position: initial;
  }
  .details__left {
    width: 30%;
    background-position: right -60px center;
  }
  .details__right {
    width: 70%;
    padding: 20px;
  }
  .details__front-wrapper {
    background-color: #f5f5f5;
  }
  .works {
    position: initial;
  }
  .works__container {
    height: auto;
    background-image: none;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: calc(100vh - 81px);
  }
  .logo {
    max-width: 170px;
  }
  .details__left {
    display: none;
  }
  .details__right {
    width: 100%;
  }
  .details__container {
    height: 650px;
  }
  .nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    min-height: 360px;
    padding: 60px 40px 40px;
    background-color: #f54a5e;
    border: 2px solid #f5f5f5;
    visibility: hidden;
    opacity: 0;
    transform: translate(250px, -337px);
    z-index: 100;
  }
  .nav__item {
    transform: translateX(0) !important;
  }
  .nav__link {
    color: #f5f5f5;
  }
  .nav__link:hover, .nav__link:focus, .nav__link:active {
    color: #000;
  }
  .nav-is-open {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: auto;
    padding-top: 5px;
    background-color: rgba(240, 241, 243, 0.8);
    padding: 8px 20px 0 20px !important;
  }
  .header__logo {
    margin: 0;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
  }
  .burger-btn {
    display: flex;
  }
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
  .title__red {
    font-size: 50px;
  }
  .certificates__swiper {
    padding: 0;
  }
  .certificates__title {
    padding-top: 40px;
  }
  .about__text {
    font-size: 20px;
  }
  .about__wrapper {
    flex-direction: column;
    height: auto;
  }
  .about__left {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
    background-size: contain;
  }
  .about__img {
    height: 100%;
    width: 100%;
    transform: translate(0px, 0px);
  }
  .about__right {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 40px;
  }
  .up-btn {
    width: 100px;
    height: 100px;
    bottom: 200px;
    right: 0;
  }
  .feedback__container {
    min-height: auto;
    background-position: right -285px top;
  }
  .feedback__wrapper {
    padding: 10px 20px 40px;
  }
  .feedback__title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .contacts {
    min-height: 550px;
    background-color: #f3f4f6;
    background-position: top right -250px;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .contacts__container {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .contacts__map {
    margin-top: auto;
    height: 450px;
    width: 100%;
  }
  .contacts__wrapper {
    flex-direction: column;
  }
  .contacts__right {
    width: 100%;
  }
  .contacts__title {
    margin-top: 30px;
    display: inline-block;
    background-color: rgba(243, 244, 246, 0.5);
  }
  .contacts__btn {
    height: 50px;
  }
  .contacts__form-input {
    max-width: 300px;
  }
  .tabs__text {
    font-size: 18px;
  }
  .price__container {
    padding-bottom: 50px;
  }
  .price__name {
    font-size: 17px;
  }
  .price__cost {
    font-size: 17px;
  }
  .price__title {
    margin: 0;
  }
  .price__tooltip-bubble {
    width: 240px;
    font-size: 14px;
    left: -105px;
  }
  .footer {
    height: 100px;
  }
  .works__container {
    width: 100%;
  }
  .works__swiper-wrapper {
    width: 100%;
  }
  .works__slide {
    height: 490px;
  }
}
@media (max-width: 500px) {
  .certificates__slide {
    height: 450px;
  }
  .certificates__title, .certificates__swiper-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
  .logo {
    max-width: 150px;
  }
  .container {
    padding: 10px;
  }
  .details__container {
    height: 600px;
  }
  .details__right {
    margin: 0;
    height: 100%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
  }
  .hero__title {
    text-align: center;
    font-size: 32px;
    padding: 30px 0 40px 0;
  }
  .hero__blockquote {
    margin: 0;
  }
  .hero__btn {
    margin-top: 40px;
    margin: 40px auto 30px auto;
  }
  .title {
    margin: 0 0 30px 0;
  }
  .bg {
    background-position: right 47% center;
  }
  .footer__logo {
    display: none;
  }
  .footer__social-list {
    margin: 0 auto;
  }
  .up-btn {
    display: none;
  }
  .price__container {
    padding-bottom: 30px;
  }
  .price__item {
    font-size: 12px;
    flex-direction: column;
  }
  .price__title {
    padding: 20px 0 20px 0;
  }
  .price__list-wrapper {
    display: flex;
    flex-direction: column;
  }
  .about__text {
    font-size: 18px;
  }
  .about__right {
    padding-right: 15px;
  }
  .slide__img {
    width: 100px;
    height: 100px;
  }
  .slide__text {
    font-size: 16px;
  }
  .swiper-slide {
    background-size: 50px 50px;
  }
  .feedback__wrapper {
    padding: 0;
  }
  .feedback__swiper-button-next, .feedback__swiper-button-prev {
    top: 45px;
  }
  .contacts__text {
    font-size: 16px;
  }
  .contacts__tel-link {
    font-size: 20px;
  }
  .contacts__form-input::-moz-placeholder {
    font-size: 18px;
  }
  .contacts__form-input::placeholder {
    font-size: 18px;
  }
  .contacts__right {
    min-width: auto;
  }
  .tabs__btn {
    min-height: 30px;
  }
  .tabs__btn:not(:last-child) {
    margin-right: 30px;
  }
  .tabs__text {
    font-size: 16px;
  }
  .works__swiper-button-prev, .works__swiper-button-next, .works__swiper-pagination {
    display: none;
  }
  .works__container {
    padding: 10px 0 0 10px;
  }
  .works__slide {
    height: 350px;
  }
  .modal__window {
    max-width: 260px;
    background-position: center bottom -30px;
  }
  .modal__close-btn {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=index.css.map */